body {
  margin: 0;
  background-color: #141414;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.netflix-bg {
  min-height: 100vh;
  background-color: #141414;
  color: white;
  padding-top: 1px; /* navbar ke liye */
}
